@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

.header-canvas {
  max-width: 1600px;
  padding: calc(50% - 800px);
  height: 90px;
  background-color: #8a2be2;
}

.header-body {
  margin: auto 200px;
  max-width: 1200px;
  font-style: italic;
  color: #ffffff;
}

h1 {
  margin: 0 auto auto;
  height: 93px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

@media screen and (max-width: 1500px) {
  .header-body {
    margin: auto 20px;
  }
}

@media screen and (max-width: 778px) {
  .header-canvas {
    max-width: 700px;
    padding: calc(50% - 350px);
  }
  .header-body {
    margin: auto 40px;
    justify-content: space-between;
    margin: auto 20px;
  }
}

@media screen and (max-width: 320px) {
  .header-body {
    margin: auto 10px;
    justify-content: space-between;
  }
}
