.selector {
  border: 1px solid lightblue;
  background-color: #ffffff;
  padding: 10px;
  width: 240px;
}

@media screen and (max-width: 608px) {
  .selector {
    width: calc(100%);
    height: calc(100% / 9);
    min-height: 65px;
    font-size: 1.5rem;
  }
}
